<div class=" py-1 card-list">
    
    <div class="row g-5">
      <div class="col-md-6 col-lg-4">
        <div class="card card-new p-1 position-relative" data-label="連載中">
          <div class="row gx-0 mb-1">
            <img src="../assets/images/card-image-1.png" class="col-4 rounded-start" alt="神注視的孩子">
            <div class="col-8">
              <div class="card-body d-flex flex-column h-100 justify-content-between">
                <h5 class="card-title fw-bold text-truncate"><a href="novel-introduction.html" class="stretched-link link-dark"></a>神注視的孩子</h5>
                <h6 class="card-subtitle text-primary mb-2"><i class="bi bi-person pe-1"></i>相思染</h6>
                <p class="card-text mb-0 w-100 overflow-auto" style="height:4.5rem">伊萊爾遇見了一個奇怪的少年他不會說話，看似在廣大的世界中遇見了</p>
              </div>
            </div>
          </div>
          <ul class="icons-list fz12 p-0 m-0 d-flex justify-content-between">
            <li class="list-inline-item">
              <a class=" d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-eye pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item  ">
              <a class="  d-flex align-items-center justify-content-center  icon-text" href="">
                <i class="bi bi-hand-thumbs-up  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-heart pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item  ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-chat pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-new p-1 position-relative" data-label="連載中">
          <div class="row gx-0 mb-1">
            <img src="../assets/images/card-image-2.png" class="col-4 rounded-start" alt="偵探在菜市廠裡迷了路！（第十八屆台灣推理作家協會徵文獎作品集）">
            <div class="col-8">
              <div class="card-body d-flex flex-column h-100 justify-content-between">
                <h5 class="card-title fw-bold text-truncate"><a href="novel-introduction.html" class="stretched-link link-dark">偵探在菜市廠裡迷了路！（第十八屆台灣推理作家協會徵文獎作品集）</a></h5>
                <h6 class="card-subtitle text-primary mb-2"><i class="bi bi-person pe-1"></i>牛小流</h6>
                <p class="card-text mb-0 w-100 overflow-auto" style="height:4.5rem">偵探初次辦案作家嶄新登場！最歷久不衰的華文短篇推理小說喧鬧登場</p>
              </div>
            </div>
          </div>
          <ul class="icons-list fz12 p-0 m-0 d-flex justify-content-between">
            <li class="list-inline-item">
              <a class=" d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-eye pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item  ">
              <a class="  d-flex align-items-center justify-content-center  icon-text" href="">
                <i class="bi bi-hand-thumbs-up  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-heart  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item   ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-chat pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="card card-done p-1 position-relative" data-label="已完結">
          <div class="row gx-0 mb-1">
            <img src="../assets/images/card-image-3.png" class="col-4 rounded-start" alt="古書堂事件手帖">
            <div class="col-8">
              <div class="card-body d-flex flex-column h-100 justify-content-between">
                <h5 class="card-title fw-bold text-truncate"><a href="novel-introduction.html" class="stretched-link link-dark">古書堂事件手帖</a></h5>
                <h6 class="card-subtitle text-primary mb-2"><i class="bi bi-person pe-1"></i>相思染</h6>
                <p class="card-text mb-0 w-100 overflow-auto" style="height:4.5rem">伊萊爾遇見了一個奇怪的少年他不會說話，看似在廣大的世界中遇見了</p>
              </div>
            </div>
          </div>
          <ul class="icons-list fz12 p-0 m-0 d-flex justify-content-between">
            <li class="list-inline-item">
              <a class=" d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-eye  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item  ">
              <a class="  d-flex align-items-center justify-content-center  icon-text" href="">
                <i class="bi bi-hand-thumbs-up  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-heart  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
            <li class="list-inline-item   ">
              <a class="  d-flex align-items-center justify-content-center icon-text" href="">
                <i class="bi bi-chat  pe-1"></i>
                <span class="">999+</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>